@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.container {
  background-color: transparent;
  width: 350px;
}

.container :where(.picker, header, .all-colors) {
  display: flex;
  align-items: center;
}

.container .picker {
  padding: 35px 0;
  background-color: #326789;
  justify-content: center;
}

.picker #pickerButton {
  margin-right: 8px;
}

.picker #pickerButton,
.picker #exportButton {
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 12px;
  background-color: #e65c4f;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.picker #pickerButton:hover,
.picker #exportButton:hover {
  background-color: #b05350;
}

.colors-list {
  margin: 10px 15px;
}

.colors-list header {
  justify-content: space-between;
}

header .title {
  font-size: 1rem;
}

header #clearButton:hover {
  cursor: pointer;
  color: #e65c4f;
}

.colors-list.hide {
  display: none;
}

.colors-list .all-colors {
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0 0;
}

.all-colors .color {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  width: calc(100% / 3);
}

.all-colors .rectangle {
  height: 22px;
  width: 22px;
  display: block;
  margin-right: 3px;
  border-radius: 3px;
}

.all-colors .color span {
  font-size: 0.86rem;
  font-weight: 600;
  text-transform: uppercase;
}

.color-popup {
  position: fixed;
  top: 52px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.color-popup-content {
  padding: 20px;
}

.color-info {
  display: flex;
  align-items: center;
}

.color-preview {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.color-details {
  flex-grow: 1;
}

.color-value {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.value {
  cursor: pointer;
}

span.close-popup {
  font-size: 14px;
  cursor: pointer;
  float: right;
}
